.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.image {
    width: 300px;
    border-radius: 10px;
}

.title {
    margin-top: 15px;
    font-size: 24px;
    font-weight: bold;
}

.description {
    margin-top: 10px;
    color: #555;
}

.bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 22px;
    font-weight: bold;
}

.btn {
    background: #222;
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
}
