.footer {
    background-color: var(--main);
}
.footer_container {
    padding: 60px 20px 60px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.footer_logo {
    height: 30px;
    width: 230px;
}
.footer_left span {
    font-size: 16px;
    font-weight: 500;
    color: var(--grey);
}
.footer_logo_desktop {}
.footer_logo_mobile {
    display: none;
}
.footer_right {
    display: flex;
    align-items: start;
    gap: 60px;
}
.footer_ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer_ul h5 {
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
}
.footer_li {
    font-size: 16px;
    font-weight: 500;
    color: var(--grey);
}

/*----media-------------------------------------------*/

@media (max-width: 1124px) {

    .footer_container {
        padding: 40px 20px 40px 20px;
        flex-direction: column-reverse;
        justify-content: start;
        gap: 40px;
    }
    .footer_left {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
    .footer_logo_desktop {
        display: none;
    }
    .footer_logo_mobile {
        display: block;
    }
    .footer_logo {
        height: 30px;
        width: 230px;
    }
    .footer_left span {
        font-size: 16px;
        font-weight: 500;
        color: var(--grey);
    }
    .footer_logo-desktop {}
    .footer_right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer_ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .footer_ul h5 {
        font-size: 20px;
        font-weight: 600;
        color: var(--white);
    }
    .footer_li {
        font-size: 16px;
        font-weight: 500;
        color: var(--grey);
    }
}

@media (max-width: 767px) {
    .footer_container {
        padding: 40px 15px 40px 15px;
    }
    .footer_left span {
        font-size: 14px;
        text-align: center;
    }
    .footer_right {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .footer_ul {
        text-align: center;
    }
}