.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    overflow-y: auto;
    padding: 20px 0;
}
.modal {
    background: white;
    padding: 30px 40px;
    max-width: 800px;
    width: 100%;

    max-height: calc(100vh - 40px); /* ← чтобы влезала в экран */
    overflow-y: auto;               /* ← скролл внутри */

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.modal_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal_header h2 {
    font-size: 24px;
    font-weight: 600;
}
.modal_products {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    padding: 20px 0;
    gap: 10px;
}
.modal_product {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal_product_info {
    display: flex;
    align-items: center;
    gap: 20px;
}
.modal_product_cover {
    height: 100px;
    width: 89px;
    cursor: pointer;
}
.modal_product_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.modal_product_text h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--black);
}
.modal_product_text h4 {
    font-size: 16px;
    font-weight: 400;
    color: var(--grey);
}
.modal_product_total {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: end;
}
.modal_product_count {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal_product_count_num {
    font-size: 20px;
    font-weight: 600;
    color: var(--black);
}
.modal_product_sum {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 40px;
}
.modal_product_price {
    width: 150px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.modal_Price {
    width: 100%;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    color: var(--black);
}
.modal_delivery {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.modal_delivery h3 {
    font-size: 20px;
    font-weight: 600;
}
.modal_input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.modal_input_label {
    font-size: 18px;
    font-weight: 400;
}
.modal_input_input {
    padding: 20px 10px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    border: 1px solid var(--grey);
    font-size: 16px;
    font-weight: 400;
}
.modal_orderInfo {
    width: 100%;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
}
.modal_totalPrice {
    width: 100%;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    color: var(--black);
}
.buyBtn {
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
    width: 100%;
    padding: 20px;
    background-color: var(--secondBlack);
}