/*----fonts-------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*----variables-------------------------------------------*/

:root {
    --maxWidth: 1440px;
    --mainFont: "Montserrat", sans-serif;
    --secondFont: "Comforter", sans-serif;
    --white: #ffffff;
    --grey: #808080;
    --black: #000000;
    --secondBlack: #222222;
    --main: #19221A;
    --red: #F21515;
    --dropShadow: 0px 4px 20px rgba(0, 0, 0, 0.25);;
}

/*----main-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    border: none;
    outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
}
img {
    user-select: none;
}
html {
    scroll-behavior: smooth;
}
body {
    font-size: 16px;
    font-weight: 400; /* regular */
    font-family: var(--mainFont);
    color: var(--black);
    background-color: var(--white);
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
main {
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
}
.__container {
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: var(--maxWidth);
}
button {
    cursor: pointer;
    transition: 0.5s;
}
button:hover {
    filter: brightness(120%);
}
button:active {
    filter: brightness(80%);
    transition: 0.2s;
}

/*----media-------------------------------------------*/

@media (max-width: 1920px) {
    /* Стили для больших экранов */
}

@media (max-width: 1440px) {
    /* Стили для экранов 1440px */
}

@media (max-width: 768px) {
    /* Стили для мобильных устройств */
}

@media (max-width: 480px) {
    /* Стили для очень маленьких экранов */
}