.page {
    padding: 40px;
    text-align: center;
}

.page h1 {
    font-size: 90px;
    margin-bottom: 20px;
}

.back {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background: #222;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}
