.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* полностью прозрачная модалка */
.modal {
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.closeBtn {
    position: absolute;
    top: 30px;
    right: 30px;

    background: none;
    border: none;
    cursor: pointer;

    color: #fff; /* белый крестик */
    z-index: 10;
}

.modalImage {
    max-width: 90vw;
    max-height: 85vh;
    object-fit: contain;
    cursor: zoom-in;
    transition: transform 0.3s ease;
}

.modalImage:hover {
    transform: scale(1.2);
}

.thumbnails {
    position: absolute;
    bottom: 24px;

    display: flex;
    gap: 10px;
    padding: 10px;

    max-width: 90vw;
    overflow-x: auto;
}

.thumbnail {
    height: 56px;
    cursor: pointer;
    opacity: 0.6;

    transition: opacity 0.2s ease, transform 0.2s ease;
}

.thumbnail:hover {
    opacity: 1;
    transform: scale(1.05);
}

.active {
    opacity: 1;
    outline: 2px solid #fff;
}
